@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Webkit Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #5f646e; /* Change this to your desired thumb color */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #cbd5e0; /* Change this to your desired track color */
}
